body{
    width:100%;
    margin:auto;
    background: url("../assets/Background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Friz Quadrata Std";
    color: white;
}

header{
    width: 100%;
    background-color: black;
    position: static;
    border-bottom: thick solid white;
    overflow: hidden;
}

.logo{
    float:left;
    width: 75px;
    height: 75px;
}

.logo a img{
    width: 75px;
    height: 75px;
}

.menu{
    float:right;
    margin-right: 15px;
    width: 75px;
    height: 75px;
}

.menu img{
    width: 75px;
    height: 75px;
}

.videos {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

h1{
    color: white;
    -webkit-text-stroke: 1px black;
}

.dropimg{
    background-color: black;
    color: white;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

.information{
    text-align: center;
    position: relative;
}

.champions{
    text-align: center;
}

.champions p{
    color: black;
}

.champions a{
    color: white;
}

.title_img{
    text-align: center;
}

.lanes{
    text-align: center;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.themes{
    width: 100%;
    text-align: center;
    color: black;
}

.theme1{
    background-color: white;
    width: 300px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    display: inline-block;
}

.theme2{
    background-color: white;
    width: 300px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    display: inline-block;
}

.theme3{
    background-color: white;
    width: 300px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    display: inline-block;
}

.champion1{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion2{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion3{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion4{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion5{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion6{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion7{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion8{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion9{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

.champion10{
    background-color: rgba(80,80,80, 0.7);
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

@media (max-width: 800px){

}

@media (max-width: 500px){

}